<h1>Add a Note</h1>

<form action="<%= track_notes_url(@track_id) %>" method="post">
  <label name="message">Message</label>
  <br>
  <textarea name="note[message]" id="message" value="<%= @note.message %>" rows="6"></textarea>
  <br>

  <input type="hidden" name="note[track_id]" value="<%= @track_id %>">

  <input type="hidden" name="note[user_id]" value="<%= @current_user.id %>">

  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <input type="submit" value="Add Note">
</form>