<h1><%= @track.track_name %></h1>
<h3>By <%= @track.album.band.band_name %></h3>
<h4>On <%= @track.album.album_name %></h4>

<h3>Notes</h3>
<ul>
<% @track.notes.each do |note| %>
  <li><%= note.message %>
    <% if @current_user.id == note.user_id %>
      <%= button_to "Delete", track_note_url(@track.id, note.id), method:
      :delete %>
      <%= button_to "Edit", edit_track_note_url(@track.id, note.id), method:
      :get%>
    <%end%>
  </li>
<% end %>
</ul>

<%= link_to "Edit this track", edit_track_url(@track.id) %>
<br>
<%= link_to "Add a Note", new_track_note_url(@track.id) %>
<br>
<%= link_to "All tracks", tracks_url %>
<% if @current_user.admin %>
  <%= button_to "Delete this track", track_url(@track.id), method: :delete %>
<% end %>