<h1>Create a Album</h1>

<form action="<%= albums_url %>" method="post">
  <label for="album_name">Name</label>
  <input type="text" name="album[album_name]" id="album_name" value="<%= @album.album_name %>">
  <br>
  <label for="band">Band</label>
  <select name="album[band_id]">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>" <%= "selected" if @album.band_id == band.id%>><%= band.band_name %></option>
    <% end %>
  </select>
  <input type="submit" value="Create">
</form>

<%= flash[:notices] unless flash[:notices].nil? %>