<h1><%= @album.album_name %></h1>
<h3>By <%= @album.band.band_name %></h3>
<img src="<%= @album.cover_art_link %>">

<h4>Tracks</h4>
<ul>
  <% @album.tracks.each do |track| %>
    <li><%= link_to "#{track.track_name}", track_url(track.id) %></li>
  <% end %>
</ul>

<% if @current_user.admin %>
  <%= link_to "Edit this Album", edit_album_url(@album.id) %>
  <br>
  <%= button_to "Delete this Album", album_url(@album.id), method: :delete%>
  <%= link_to "Create track", new_track_url %>
  <br>
<% end %>
<%= link_to "View this album's band", band_url(@album.band_id) %>
<br>
<%= link_to "All albums", albums_url %>